@use "base/mixins" as m;
@use "base/variables" as v;


.loading::after {
  content: "Loading...";
  display: block;
  font-size: 80%;
  font-style: italic;
  margin: 16px 0;
}

.loading {
  opacity: 0.5;
}

.error {
  color: red;
}

.container,
.container-header
.form-container {
  margin: 0 auto;
  max-width: 700px;
}

.form-container {
  border-bottom: 2px solid rgb(127, 127, 127, 0.5);
}

img.thumb {
  border: 2px solid grey;
  border-radius: 8px;
  height: 150px;
  margin: 0px 16px 16px 0;
  padding: 2px;
  width: 150px;
}

#form,
.history-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

#file {
  flex-grow: 0;
 
}

#prompt {
  margin: 0px;
  padding: 0px;
  width: 0%;

}

button {
  padding: 2px 16px;
}

.name {
  flex-shrink: 0;
  font-size: 80%;
  margin: 16px 16px 16px 0;
  opacity: 0.5;
  text-align: right;
  width: 50px;
}

blockquote {
  margin: 0;
}

.history-item {
  padding: 0 8px 0 0;
}

.history-item.model-role {
  background: rgba(127, 127, 127, 0.1);
}

.history-item > blockquote {
  flex-grow: 1;
  margin: 0;
}

.boton-content {
  background-color: v.$secundario;
  font-size: 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-left: 300px;

 @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
        margin: 2rem 0;

        @include m.tablet{
            width: auto;
        }

    }
.container-header{
    border-bottom: 2px solid rgb(127, 127, 127, 0.5);
  font-size: 24px;
  padding: 16px;
  text-align: center;
}
.container-body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para cada imagen */
#thumbnails img {
    width: 140px;
    height: 140px;
    margin: 10px;
    border: 2px solid #1f0000;
    border-radius: 5px;
}

.upload-button {
  position:relative;
 margin-right: 3rem;
  overflow: hidden; /* Oculta el input */
  width: 50px;
  height: 50px;
  border: 1px solid #ccc; /* Opcional: Agregar un borde */
  border-radius: 45px; /* Opcional: Agregar bordes redondeados */

  
}

.upload-button img {
  width: 100%;
  height: 100%;
}

.upload-button label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}

.upload-button label:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Opcional: Agregar un efecto de hover */
}
.imagen label:hover{ 
  background-color: rgba(0, 0, 0, 0.9); /* Opcional: Agregar un efecto de hover */
}


.milenyumdog__descripcion1{
        margin-top: -3rem;
        margin-bottom: -1rem;

      
        justify-content: left;
        text-align: center;
     }
