@use "base/mixins" as m;
@use "base/variables" as v;

.milenyumdog{
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    &__grid{
        @include m.contenedor;
        @include m.grid(1, 3rem);
        @include m.tablet{

            @include m.grid(2, 5rem);
            align-items: center;

        }
    }

    &__texto{
        line-height: 2;
        
    }


    &__texto1{
        line-height: 2;
        font-weight: bold;
        
    }

  
  
}
 
.milenyumdog__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.milenyumdog__imagen img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.milenyumdog__contenido {
    padding: 20px;
}

.milenyumdog__ul, li, ul{
    @include m.reset-lista;

    padding-left: 3rem;
}

ul {
  list-style-type: none; /* Elimina las viñetas por defecto */
  padding: 0; /* Elimina el margen izquierdo */
}

li {
  margin-bottom: 10px;
  position: relative; /* Para posicionar el ícono */
}

.li--usuario::before {
  content: "\f007"; /* Ejemplo con Font Awesome (icono de casa) */
  font-family: 'Font Awesome 5 Free'; /* Asegúrate de tener la fuente instalada */
  font-weight: 900;
  position: absolute;
  margin-right: 3rem;
  left: 0rem;
  right: 1rem;
  top: 5px;
  color: #007bff; /* Color del ícono */
}

